<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logconsole" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [${level:uppercase=true}] ${message}" />
      <target xsi:type="File"
            name="fileTarget"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} level=${level} message=${message}"
            keepFileOpen ="false"
            concurrentWrites ="true"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logconsole" />
      <logger name="*" minlevel="Info" writeTo="fileTarget" />

    </rules>
  </nlog>

</configuration>